@font-face {
  font-family: Inconsolata;
  src: url(../../fonts/Inconsolata-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inconsolata;
  src: url(../../fonts/Inconsolata-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inconsolata;
  src: url(../../fonts/Inconsolata-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inconsolata;
  src: url(../../fonts/Inconsolata-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Inconsolata", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.25;
  padding: 0;
  margin: 0;

  --bg: white;
  --textNormal: #404048;
  --textTitle: #222;
  --textLink: #1e77bc;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
  color: var(--textNormal);
}

html.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #1f2933;
  --textNormal: rgba(255, 255, 255, 0.87);
  --textTitle: rgba(255, 255, 255.87);
  --textLink: #00abb2;
  --hr: hsla(0, 0%, 100%, 0.2);

  background-color: var(--bg);
  color: var(--textNormal);
}

p,
li,
span,
label,
input,
textarea {
  color: var(--textNormal);
}

li {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--textLink);
}

a.left {
  position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -6px;
  left: 0;
  background-color: var(--textLink);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

h1 {
  font-size: 56px;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h2 {
  display: block;
  font-size: 36px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h3 {
  display: block;
  font-size: 28px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 30px;
}

.switch-wrapper span svg {
  width: 18px;
  height: 18px;
}

.toggle-wrapper {
  margin: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input:checked + .slider {
  background-color: var(--textLink);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--textLink);
}

input:checked + .slider:before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.intro {
  padding: 120px 100px;
  height: 100vh;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  gap: 3rem;
}

.intro-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}

.intro-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}

.intro__hello {
  font-weight: 800;
  font-size: 2.6rem;
}

.intro__tagline {
  /* max-width: 600px; */
  font-weight: 800;
  font-size: 2.2rem;
}

.intro__contact {
  font-size: 1.5rem;
  font-weight: 700;
}

.intro__image {
  border-radius: 50%;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: auto;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  transition: all 0.2s ease-in-out;
}

/* add hover effect and increase shadow to intro__image */
.intro__image:hover {
  transform: scale(1.075);
  transition: all 0.2s ease-in-out;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.2),
    0 8px 10px -6px rgb(0 0 0 / 0.2);
}

@media (max-width: 768px) {
  .intro {
    padding: 0 20px; /* Adjust padding for mobile layout */
    flex-direction: column; /* Change flex direction to stack elements vertically */
    align-items: center; /* Center align both sections */
    height: auto;
  }

  .intro-left {
    width: 100%; /* Take full width on mobile */
  }

  .intro-right {
    margin-top: 20px; /* Add margin to separate image from text */
    width: 100%; /* Take full width on mobile */
    justify-content: center; /* Center align image */
  }

  .intro__image {
    max-width: 200px; /* Reduce image size for mobile */
    position: relative; /* Position the image relative to its container */
  }
}

.link {
  color: var(--mainText);
}

.lg-view {
  display: inline-block;
}

.sm-view {
  display: none;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition:
    opacity 0.6s ease-out,
    transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.section {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 100px 170px;
  font-weight: 700;
  font-size: 1.3rem;
  max-width: 90%;
}

.section__title {
  color: var(--textLink);
  font-weight: 700;
  margin-right: 70px;
  font-size: 1.1rem;
}

.section__content {
  font-weight: 500;
  max-width: 700px;
}

.section__content p {
  margin: 0;
  font-weight: 500;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills__category {
  flex-grow: 1;
}

.resume {
  padding-top: 20px;
}

.project {
  padding-bottom: 30px;
}

.project__title {
  font-weight: 800;
  display: inline-block;
  color: var(--textLink);
}

.project__description {
  padding-top: 10px;
  font-weight: 500;
}

.project__used {
  padding-top: 10px;
}

.project__used__item {
  display: inline-block;
  margin: 3px 10px 3px 0;
  font-weight: 600;
  font-size: 0.9rem;
  border: var(--textLink) 1px solid;
  border-radius: 5px;
  padding: 2px 6px;
  color: var(--textLink);
  transition: all 0.3s ease-in-out;
}

.project__used__item:hover {
  background-color: var(--textLink);
  color: #fff;
}

.footer {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 40px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  width: auto;
  text-align: center;
  margin: 20px;
}

.footer__builtwith {
  text-align: center;
  max-width: 400px;
}

.icon {
  color: var(--textLink);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__icon {
  color: var(--textLink);
  padding: 10px;
}

.arrow {
  position: relative;
  top: 6px;
  left: 0px;
}

@media screen and (max-width: 1280px) {
  .section {
    padding: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 70px;
  }

  .section__title {
    font-size: 1.2rem;
    padding-right: 50px;
  }

  .section__content {
    font-size: 1.1rem;
  }

  .section__content p {
    margin: 0px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    display: block;
    font-size: 1.2rem;
  }

  .section__content {
    padding-top: 30px;
    padding-left: 50px;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .intro {
    padding: 0 50px;
  }

  .intro__hello {
    font-size: 1.75rem;
  }

  .intro__tagline {
    font-size: 1.75rem;
  }

  .intro__contact {
    font-size: 1.25rem;
  }

  .lg-view {
    display: none;
  }

  .sm-view {
    display: inline-block;
  }

  .section {
    display: grid;
    justify-content: center;
  }

  .section__title {
    width: auto;
    text-align: left;
    font-size: 1.3rem;
  }

  .section__content {
    font-size: 1.125rem;
  }

  .project__title {
    font-size: 1.25rem;
  }

  .footer {
    font-size: 1rem;
  }

  .icon {
    top: 5px;
    left: 20px;
  }

  ul {
    padding: 1rem;
    margin: 0;
    list-style: none;
  }
}

@media screen and (max-width: 480px) {
  .section__content {
    padding-left: 30px;
  }
}
