---
import { ArrowRightIcon } from "astro-feather";
---

<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a software engineer with a passion for building things that positively
      impact peoples lives. I'm currently working as a a full-stack engineer at{
        " "
      }
      {
        (
          <a href="https://www.upstreet.co/" aria-label="Upstreet">
            Upstreet
          </a>
        )
      }, a Sydney-based startup that helps people get started on their journey
      to share ownership by building a share portfolio while shopping online.
    </p>
    <br />
    <p>My skill set includes:</p>
    <br />
    <div class="skills">
      <div class="skills__category">
        <p>Core Skills:</p>
        <ul>
          <li>Javascript/Typescript</li>
          <li>React</li>
          <li>Next.js</li>
          <li>HTML & CSS</li>
          <li>Test Driven Development</li>
          <li>Production monitoring</li>
          <li>Github Actions</li>
          <li>Material UI</li>
        </ul>
      </div>
      <div class="skills__category">
        <p>Additional Skills:</p>
        <ul>
          <li>Express.js</li>
          <li>Gatsby</li>
          <li>Firebase</li>
          <li>Python</li>
          <li>Java</li>
          <li>GCP</li>
          <li>SQL</li>
        </ul>
      </div>
    </div>
    <p>I also have knowledge of:</p>
    <div class="knowledge">
      <ul>
        <li>Data Structures</li>
        <li>Algorithms</li>
        <li>Design Patterns</li>
        <li>Web Development</li>
        <li>Systems Programming</li>
        <li>Software Engineering Practices</li>
      </ul>
      <div class="project__title">
        <a
          class="left"
          href="FinneasBuickResume.pdf"
          aria-label="Resume"
          target="_blank"
        >
          View my resume
        </a>
        <ArrowRightIcon customClasses="icon arrow" />
      </div>
    </div>
  </div>
</section>
