---
import { MailIcon, LinkedinIcon, GithubIcon } from "astro-feather";
---

<div class="footer">
  <div class="footer__content">
    <div class="socials">
      <a
        href="mailto:finnbuick@gmail.com"
        aria-label="Email"
        target="_blank"
        rel="noreferrer"
      >
        <div class="socials__icon">
          <MailIcon />
        </div>
      </a>
      <!-- Hide temporarily since linkedin is hacked -->
      <!-- <a
      href="https://www.linkedin.com/in/finn-buick/"
      target="_blank"
      rel="noreferrer"
    >
      <div class="socials__icon">
        <LinkedinIcon />
      </div>
    </a> -->
      <a
        href="https://github.com/FinnBuick/"
        aria-label="Github"
        target="_blank"
        rel="noreferrer"
      >
        <div class="socials__icon">
          <GithubIcon />
        </div>
      </a>
    </div>
    <div class="footer__copyright">
      Finn Buick &copy; {new Date().getFullYear()}
    </div>
    <div class="footer__builtwith">
      Built with <a
        href="https://astro.build"
        aria-label="Astro"
        target="_blank">Astro</a
      > and deployed on
      <a href="https://www.netlify.com/" aria-label="Netlify" rel="noreferrer"
        >Netlify</a
      >. All text is set in <a
        href="https://fonts.google.com/specimen/Inconsolata"
        aria-label="Inconsolata"
        target="_blank"
        rel="noreferrer">Inconsolata</a
      >.
    </div>
  </div>
</div>
