---
import { ArrowRightIcon } from "astro-feather";
---

<section class="section projects">
  <div class="section__title">Projects</div>
  <div class="section__content">
    <div class="project">
      <div class="project__title">
        <a
          class="left"
          target="_blank"
          href="https://spotify-judger.vercel.app/"
          aria-label="Spotify Judger"
        >
          Spotify Judger
        </a>
        <ArrowRightIcon customClasses="icon arrow" />
      </div>
      <div class="project__description">
        Developed an engaging chat bot that playfully evaluates users' music
        preferences using OpenAI's Chat Completion API and the Spotify Web API.
        This project honed my skills in Next.js 13, Tailwind CSS and prompt
        engineering. Deployed on Vercel.
        <div class="project__used">
          <span class="project__used__item">Typescript</span>
          <span class="project__used__item">React</span>
          <span class="project__used__item">Next.js</span>
          <span class="project__used__item">Tailwind CSS</span>
          <span class="project__used__item">OpenAI</span>
          <span class="project__used__item">Spotify Web API</span>
          <span class="project__used__item">Vercel</span>
          <span class="project__used__item">Prompt Engineering</span>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="project__title">Upstreet Reward Hub</div>
      <div class="project__description">
        Designed and maintained a robust, multi-tenant Next.js application
        featuring role-based access control, empowering our clients to manage
        internal employee share rewards on our platform. Delivered the initial
        release a week ahead of schedule by collaborating closely with the
        backend API team. Supported backend Express API development as the sole
        frontend developer.
      </div>
      <div class="project__used">
        <span class="project__used__item">Typescript</span>
        <span class="project__used__item">React</span>
        <span class="project__used__item">React Query</span>
        <span class="project__used__item">Cypress</span>
        <span class="project__used__item">React Testing Library</span>
        <span class="project__used__item">Jest</span>
        <span class="project__used__item">Firebase</span>
        <span class="project__used__item">Cloud Functions</span>
        <span class="project__used__item">Material UI v5</span>
      </div>
    </div>
    <div class="project">
      <div class="project__title">Upstreet Web App</div>
      <div class="project__description">
        Led the development of the full-stack web application for{" "}
        {
          (
            <a href="https://www.upstreet.co/" aria-label="Upstreet">
              Upstreet
            </a>
          )
        }, a startup that helps people earn shares as they shop. As the lead
        fullstack developer on this project I'm responsible for solution design,
        planning and implementation. Utilized test driven development to build
        out and deploy the beta release app in less than 5 months.
      </div>
      <div class="project__used">
        <span class="project__used__item">Typescript</span>
        <span class="project__used__item">React</span>
        <span class="project__used__item">Firebase</span>
        <span class="project__used__item">Cloud Functions</span>
        <span class="project__used__item">Cloud Storage</span>
        <span class="project__used__item">Material UI v4</span>
        <span class="project__used__item">React Query</span>
        <span class="project__used__item">React-Router</span>
        <span class="project__used__item">Jest</span>
        <span class="project__used__item">React Testing Library</span>
      </div>
    </div>
    <div class="project">
      <div class="project__title">
        <a
          class="left"
          target="_blank"
          href="https://github.com/FinnBuick/COMP434-CPD"
          aria-label="Computer Vision Finger Counter"
        >
          Computer Vision Finger Counter
        </a>
        <ArrowRightIcon customClasses="icon arrow" />
      </div>
      <div class="project__description">
        A 4th year project that could identify the number of fingers a person
        was holding up in a video stream using computer vision techniques.
      </div>
      <div class="project__used">
        <span class="project__used__item">Python</span>
        <span class="project__used__item">OpenCV</span>
        <span class="project__used__item">Matplotlib</span>
        <span class="project__used__item">Numpy</span>
      </div>
    </div>
  </div>
</section>
